version: '3.1'
services:
  cfssl:
    image: blackducksoftware/hub-cfssl:4.2.0
    volumes: ['cert-volume:/etc/cfssl']
    healthcheck:
      test: [CMD, /usr/local/bin/docker-healthcheck.sh, 'http://localhost:8888/api/v1/cfssl/scaninfo']
      interval: 30s
      timeout: 10s
      retries: 5
    user: cfssl:root
    deploy:
      mode: replicated
      restart_policy: {condition: on-failure, delay: 5s, window: 60s}
      resources:
        limits: {memory: 640M}
        reservations: {memory: 640M}
  logstash:
    image: blackducksoftware/hub-logstash:4.2.0
    volumes: ['log-volume:/var/lib/logstash/data']
    healthcheck:
      test: [CMD, /usr/local/bin/docker-healthcheck.sh, 'http://localhost:9600/']
      interval: 30s
      timeout: 10s
      retries: 5
    user: logstash:root
    deploy:
      mode: replicated
      restart_policy: {condition: on-failure, delay: 5s, window: 60s}
      resources:
        limits: {memory: 640M}
        reservations: {memory: 640M}
  registration:
    image: blackducksoftware/hub-registration:4.2.0
    links: [logstash]
    volumes: ['config-volume:/opt/blackduck/hub/registration/config']
    env_file: hub-proxy.env
    healthcheck:
      test: [CMD, /usr/local/bin/docker-healthcheck.sh, 'http://localhost:8080/registration/health-checks/liveness']
      interval: 30s
      timeout: 10s
      retries: 5
    user: tomcat:root
    deploy:
      mode: replicated
      restart_policy: {condition: on-failure, delay: 5s, window: 60s}
      resources:
        limits: {memory: 640M}
        reservations: {memory: 640M}
  zookeeper:
    image: blackducksoftware/hub-zookeeper:4.2.0
    links: [logstash]
    healthcheck:
      test: [CMD, zkServer.sh, status, /opt/blackduck/zookeeper/conf/zoo.cfg]
      interval: 30s
      timeout: 10s
      retries: 5
    user: zookeeper:root
    deploy:
      mode: replicated
      restart_policy: {condition: on-failure, delay: 5s, window: 60s}
      resources:
        limits: {memory: 384M}
        reservations: {memory: 384M}
  solr:
    image: blackducksoftware/hub-solr:4.2.0
    links: [logstash, zookeeper]
    volumes: ['solr6-volume:/opt/blackduck/hub/solr/cores.data']
    healthcheck:
      test: [CMD, /usr/local/bin/docker-healthcheck.sh, 'http://localhost:8983/solr/project/admin/ping?wt=json']
      interval: 30s
      timeout: 10s
      retries: 5
    user: solr:root
    deploy:
      mode: replicated
      restart_policy: {condition: on-failure, delay: 5s, window: 60s}
      resources:
        limits: {memory: 640M}
        reservations: {memory: 640M}
  webapp:
    image: blackducksoftware/hub-webapp:4.2.0
    links: [cfssl, logstash, registration, zookeeper, solr]
    volumes: ['log-volume:/opt/blackduck/hub/logs', 'webapp-volume:/opt/blackduck/hub/hub-webapp/security']
    env_file: [hub-proxy.env, hub-postgres.env]
    healthcheck:
      test: [CMD, /usr/local/bin/docker-healthcheck.sh, 'http://127.0.0.1:8080/api/health-checks/liveness']
      interval: 30s
      timeout: 60s
      retries: 15
    user: tomcat:root
    environment: {HUB_MAX_MEMORY: 4096m}
    deploy:
      mode: replicated
      restart_policy: {condition: on-failure, delay: 5s, window: 60s}
      resources:
        limits: {cpus: '1', memory: 4608M}
        reservations: {cpus: '1', memory: 4608M}
  jobrunner:
    image: blackducksoftware/hub-jobrunner:4.2.0
    links: [cfssl, logstash, registration, zookeeper, solr]
    env_file: [hub-proxy.env, hub-postgres.env]
    healthcheck:
      test: [CMD, /usr/local/bin/docker-healthcheck.sh]
      interval: 30s
      timeout: 60s
      retries: 15
    user: jobrunner:root
    environment: {HUB_MAX_MEMORY: 4096m}
    deploy:
      mode: replicated
      restart_policy: {condition: on-failure, delay: 5s, window: 60s}
      resources:
        limits: {cpus: '1', memory: 4608M}
        reservations: {cpus: '1', memory: 4608M}
  webserver:
    image: blackducksoftware/hub-nginx:4.2.0
    ports: ['443:8443']
    env_file: hub-webserver.env
    links: [webapp, cfssl, documentation]
    volumes: ['webserver-volume:/opt/blackduck/hub/webserver/security']
    healthcheck:
      test: [CMD, /usr/local/bin/docker-healthcheck.sh, 'https://localhost:8443/health-checks/liveness',
        /opt/blackduck/hub/webserver/security/root.crt]
      interval: 30s
      timeout: 10s
      retries: 5
    user: nginx:root
    deploy:
      mode: replicated
      restart_policy: {condition: on-failure, delay: 15s, window: 60s}
      resources:
        limits: {memory: 512M}
        reservations: {memory: 512M}
  documentation:
    image: blackducksoftware/hub-documentation:4.2.0
    links: [logstash]
    user: tomcat:root
    healthcheck:
      test: [CMD, /usr/local/bin/docker-healthcheck.sh, 'http://127.0.0.1:8080/hubdoc/health-checks/liveness']
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      mode: replicated
      restart_policy: {condition: on-failure, delay: 5s, window: 60s}
      resources:
        limits: {memory: 512M}
        reservations: {memory: 512M}
volumes: {cert-volume: null, config-volume: null, log-volume: null, webserver-volume: null,
  webapp-volume: null, solr6-volume: null}
