{{- $_ :=  set . "serviceName" "blackduck-ui" }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "bd.labelsWithoutVersion" . | nindent 4 }}
    component: webui
  name: {{ .Release.Name }}-blackduck-ui
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: port-8443
      port: 8443
      protocol: TCP
      targetPort: 8443
  selector:
    {{- include "bd.selectorLabelsWithoutVersion" . | nindent 4 }}
    component: webui
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "bd.labels" . | nindent 4 }}
    component: webui
  name: {{ .Release.Name }}-blackduck-ui
  namespace: {{ .Release.Namespace }}
spec:
  {{- if eq .Values.status "Running" }}
  replicas: {{ .Values.webui.replicas }}
  {{- else }}
  replicas: 0
  {{- end }}
  selector:
    matchLabels:
      {{- include "bd.selectorLabelsWithoutVersion" . | nindent 6 }}
      component: webui
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "bd.selectorLabels" . | nindent 8 }}
        component: webui
      annotations:
        checksum/blackduck-config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      name: {{ .Release.Name }}-blackduck-ui
    spec:
      {{- if .Values.enableInitContainer }}
      initContainers:
      {{- include "bd.postgresql.up.check.initcontainer" . | indent 6 }}
      {{- end }}
      containers:
      - env:
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-blackduck-config
        {{- if .Values.webui.registry }}
          {{- if .Values.webui.imageTag }}
        image: {{ .Values.webui.registry }}/blackduck-webui:{{ .Values.webui.imageTag }}
          {{- else }}
        image: {{ .Values.webui.registry }}/blackduck-webui:{{ .Values.imageTag }}
          {{- end}}
        {{- else }}
          {{- if .Values.webui.imageTag }}
        image: {{ .Values.registry }}/blackduck-webui:{{ .Values.webui.imageTag }}
          {{- else }}
        image: {{ .Values.registry }}/blackduck-webui:{{ .Values.imageTag }}
          {{- end}}
        {{- end}}

        imagePullPolicy: Always
        {{- include "webuiLivenessProbe" . | nindent 8 }}
        name: webui
        ports:
        - containerPort: 8443
          protocol: TCP
        resources:
          {{- toYaml .Values.webui.resources | nindent 12 }}
        {{- with .Values.webui.securityContext }}
        securityContext:
{{ toYaml . | indent 10 }}
        {{- end }}
        volumeMounts:
        - mountPath: /opt/blackduck/hub/hub-ui/security
          name: dir-webui
        {{- include "common.volume.mount" . | indent 8 }}
      dnsPolicy: ClusterFirst
      {{- include "bd.imagePullSecrets" . | nindent 6 }}
      {{- with .Values.webui.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.webui.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.webui.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
      {{- end }}
      {{- if .Values.webui.podSecurityContext }}
      {{- with .Values.webui.podSecurityContext }}
      securityContext:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- else }}
      {{- include "bd.podSecurityContext" . | nindent 6 }}
      {{- end }}
      serviceAccountName: {{ .Release.Name }}-blackduck-service-account
      restartPolicy: Always
      volumes:
      - emptyDir: {}
        name: dir-webui
      {{- include "common.volumes" . | indent 6 }}

{{- define "webuiLivenessProbe" -}}
{{- if .Values.enableLivenessProbe -}}
livenessProbe:
  exec:
    command:
    - /usr/local/bin/docker-healthcheck.sh
    - https://127.0.0.1:8443/health-checks/liveness
    - /opt/blackduck/hub/hub-ui/security/root.crt
    - /opt/blackduck/hub/hub-ui/security/hub-ui-server.crt
    - /opt/blackduck/hub/hub-ui/security/hub-ui-server.key
  failureThreshold: 10
  initialDelaySeconds: 240
  periodSeconds: 30
  successThreshold: 1
  timeoutSeconds: 10
{{- end -}}
{{- end -}}
